html, body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
.form-layout {
    box-shadow: #a5a5a5 5px 3px 6px;
    margin-top: 100px;
}
.title-form {
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(#f5f5f5, #c4c4c4);
}
.title-form i {
    font-size: 18px;
    color: gray;
}
.form-body {
    padding: 0 20px 20px 20px;
    background-color: #f5f5f5;
    border-radius: 0px;
}
.app-name {
    padding: 10px;
    text-align: center;
    border-bottom: solid #e3e3e3 1px;
    margin-bottom: 10px;
}
.app-name span {
    font-size: xx-large;
    font-family: cursive;
    color: #d9534f;
}